.menu-penal {
    background-color: #f7f7f7;
    border-radius: 6px;
    color:#121212;
    position: absolute;
    padding: 10px;
    top: 46px;
    left: 5px;
    z-index: 1000;
    &::before {
        border-color: transparent transparent #f7f7f7 transparent;
        border-style: solid solid solid solid;
        border-width: 12px 8px 12px 8px;
        content: '';
        position: absolute;
        width:0;
        height: 0;
        top: -24px;
    }
    &.menuShow {
        box-shadow: 0 1px 8px rgba(0,0,0,.2);
        width: 200px;
        height: 140px;
        opacity: 1;
        transition: all .3s;
        >button {
            display: block;
        }
    }
    &.menuHide {
        width: 60px;
        height: 80px;
        opacity: 0;
        transition: all .5s;
        >button {
            display: none;
        }
    }
    >button {
        background-color: transparent;
        border: none;
        border-bottom: 1px dotted #c7c7c7;
        box-shadow: 0 1px 6px rgba(0,0,0,.15);
        cursor: pointer;
        padding: 12px;
        width: 100%;
        text-align: left;
        outline: none;
        &:first-child {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }
        &:last-child {
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            border-bottom: none;
        }
        &:hover, &:focus {
            background-color: #feffe9;
            color: #be3131;
            transition: all .5s;
            >i {
                float: right;
                transition: all .5s;
            }
        }
        >i {
            color: rgb(93, 99, 126);
            margin-right: 5px;
        }
    }
}