:root {
  --primary-color: #2196f3;
  --secondary-color: #b2d7f5;
  --text: #fff;
  --bg-color: #30383f;
  --border-color: #C6C8CC;
}
.filter {
    color: #fff;
    width: 250px;
    position: fixed;
    top:0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: calc(100vh - 70px);
    padding: 10px;
    background-color: var(--bg-color);
}
.filter.closePanel,
.closePanel .btn-content {
  width: 50px;
}
.filter h3 {
  font-size: 90%;
  margin: 2px 1px 5px;
  position: relative;
}
.filter h3>span.warnMsg {
  color: #fddf00;
  position: absolute;
  font-size: 75%;
  font-weight: 400;
  right: 0;
  top: 0;
}

/* date slider */
.ui-slider .ui-slider-range {
  background: var(--primary-color);
}
.ui-widget.ui-widget-content {
  border: none;
  border-top: 1px solid rgba(255,255,255,.3);
  border-bottom: 1px solid rgba(0,0,0,.3);
}
.ui-slider-horizontal {
  height: 6px;
}
.RangeSlider {
  width: 175px;
  height: 20px;
}
.RangeSlider .LeftAligned,
.RangeSlider .RightAligned {
  width: 85px;
  height: 15px;
  overflow: hidden;
  margin: 0;
}
.RangeSlider .LeftAligned { float: left;}
.RangeSlider .RightAligned { float: right;}
.date-icon {
  width: 14px;
  height: 14px;
  cursor: pointer;
  float: left;
}
.RangeSlider input[type=text] {
  background-color: transparent;
  border: none;
  color:#f3f3f3;
  float: left;
  width: 62px;
  height: 14px;
  overflow: hidden;
}
/* Select */
.list-box {
  display: flex;
  flex-direction: row;
  padding: 8px;
}
.list-box i {
  background-color: rgba(33, 150, 243, 0.7);
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  width: 36px;
  height: 36px;
  padding: 5px 12px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.filder {
  display: flex;
  flex-direction: column;
}
.list-box ul {
  background-color: rgba(255,255,255,.2);
  border: 1px solid rgba(255,255,255,.1);
  width: 150px;
  height: 80px;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-box ul.point {
  background-color: rgba(255, 100, 100, .2);
  border: 2px solid rgba(255, 239, 18, .8);
}
.list-box ul li {
  font-size: 90%;
  padding: 3px;
  text-indent: 12px;
}
.list-box ul li.selected {
  background-color: rgb(59, 170, 245);
  border-left: 3px solid rgb(93, 255, 255);
  box-sizing: border-box;
}
.btn-content {
  background-color: var(--bg-color);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 250px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#queryButton {
  background-color: rgba(33, 150, 243, .6);
  border-radius: 8px;
  border: none;
  color: #f2f2f2;
  cursor: pointer;
  font-size: 125%;
  width: 75%;
  height: 50px;
}
.closePanel .filder, 
.closePanel #queryButton, 
#productName, #productCount,
#lotName, #lotCount {
  display: none;
}
#queryMsg {
  background-color: rgba(255,255,255,.1);
  border: 1px solid rgba(255,255,255,.2);
  border-radius: 16px;
  color: #fddf00;
  position: absolute;
  font-size: 90%;
  width: 180px;
  min-height: 24px;
  padding: 6px;
  text-align: center;
  text-indent: 26px;
  top: -30px;
  right: 35px;
}
#queryMsg::before {
  background-color: rgba(251, 255, 17, .75);
  border: 2px solid rgba(251, 255, 17, .3);
  border-radius: 50%;
  color: #30383f;
  content: '!';
  position: absolute;
  font-size: 80%;
  font-weight: 800;
  text-align: center;
  text-indent: 0;
  line-height: 22px;
  width: 22px;
  height: 22px;
  top: 5px;
  left: 5px;
}
#warnMsg {

}

/* Range-slider */
.ui-slider .ui-slider-handle {
  width: 1em;
  height: 1em;
}

/* Radio Style */
.card ul {
	list-style-type: none;
	padding-left: 50px;
	margin: 100px 0;
}
.card ul li {
	display: block;
	position: relative;
	padding: 10px 0px;
}
/* Card */
.card {
	display: flex;
	flex-direction: column;	
	width: 180px;
	padding: 10px;
}
/* Radio Button */
.card input[type=radio] {
	position: absolute;
	visibility: hidden;
}
.card label { 
    cursor: pointer;
	font-weight: 500;
}

.card .check {
    width: 20px;
    height: 20px;
	position: absolute;
	border-radius: 50%;
	transition: transform .6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/* Reset */
.card input#one ~ .check { 
	transform: translate(-50px, -16px);
    border: 3px solid var(--secondary-color);
    box-sizing: border-box;
}
.card input#two ~ .check { 
	border: 2px solid var(--secondary-color);
    background: var(--primary-color);
    box-sizing: border-box;
    box-shadow: 0 6px 12px rgba(33, 150, 243, 0.35);
    transform: translate(-50px, -52px);
}

/* Radio Input #1 */
.card input#one:checked ~ .check { transform: translate(-50px, 16px); }

/* Radio Input #2  */
.card input#two:checked ~ .check { transform: translate(-50px, -16px); }