@import "../../themes/generated/variables.base.scss";

.displayDiv {
    background-color: #ccc;
    border-radius: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: 0;
    &.chart-2 {
        width: 50%;
    }
    &.chart-3 {
        width: 33.3%;
    }
    &.table, &.line-chart {
        width: 100%;
    }
    .screen-medium & {
      width: 100%;
      height: 100%;
      flex-grow: 1;
    }
}